:root {
  --text: #000;
  --bg: #fff;
}

[data-theme="dark"]{
  --text: #fff;
  --bg: #000;
}

body{
  background: var(--bg);
  color: var(--text);
}

.select_stock {
  color: var(--text);
  background: var(--bg);
  border: 1px solid var(--text);
  &.active {
    background: var(--text);
    color: var(--bg);
  }
}


.select_type {
  color: var(--text);
  background: var(--bg);
  border: 1px solid var(--text);
  &.active {
    background: var(--text);
    color: var(--bg);
  }
}

.select_day_to_subtract {
  color: var(--text);
  background: var(--bg);
  border: 1px solid var(--text);
  &.active {
    background: var(--text);
    color: var(--bg);
  }
}

.error {
  background: rgb(255, 206, 206);
  border: 1px solid red;
}
